<% if notice %>
  <aside id="notice"><%= notice %></aside>
<% end %>

<h1>Cilsy Book Store Catalog</h1>

<ul class="catalog">
  <% @products.each do |product| %>
    <li>
      <%= image_tag(product.image_url) %>
      <h2><%= product.title %></h2>
      <p>
        <%= sanitize(product.description) %>
      </p>
      <p> <%= "Tag".pluralize(product.tags.to_a.count) %> :
        <%= product.tags.to_a.map{ |val| val.name}.join(", ") %>
      </p>
      <div class="price">
        <%= number_to_currency(product.price, unit: "IDR", delimiter: ".", separator: ",") %>
        <%= link_to 'Review', edit_product_path(product) %>
        <%= button_to 'Add to Cart', line_items_path(product_id: product), remote: true %>
      </div>
      <% if product.reviews %>
        <table border=1>
          <tr>
            <th>Rate</th>
            <th>Description</th>
          </tr>
          <% product.reviews.to_a.each do |review| %>
            <tr>
              <td><%= review.review %></td>
              <td><%= review.description %></td>
            </tr>
          <% end %>
        </table>
      <% end %>
    </li>
  <% end %>
</ul>
