<% if notice %>
  <aside id="notice"><%= notice %></aside>
<% end %>

<h1>Cilsy Book Store Catalog</h1>

<ul class="catalog">
  <% @products.each do |product| %>
    <li>
      <%= image_tag("rails.jpg") %>
      <h2><%= product.title %></h2>
      <p>
        <%= sanitize(product.description) %>
      </p>
      <div class="price">
        <%= number_to_currency(product.price, unit: "IDR", delimiter: ".", separator: ",") %>
      </div>
    </li>
  <% end %>
</ul>
